body{    
  font-family: "Microsoft JhengHei", Arial, sans-serif;                                              
  text-align: center;
}

header{
  background: hwb(298 3% 66%);
  padding: 25px;
}

header h1{
  margin:0 0 0px 0;
  font-size:38px;
  color:white;
  letter-spacing:0.2px;
}

/* 右上角垂直排列按鈕容器 */
.header-buttons {
  /* position: absolute; */
  position: fixed;  
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column; /* 垂直排列 */
  gap: 12px; /* 按鈕間距 */
}

/* 按鈕外觀 */
.header-buttons button {
  background-color: white;
  color: #4CAF50;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-weight: bold;
}

.header-buttons button:hover {
  background-color: #45a049;
  color: white;
}
/* -------------------------------------------------- */
 .container{
  max-width:1200px;
  margin:28px auto;
  padding:0 16px 48px 16px;
}

img {
    width: 100%;  /* 設置圖片寬度佔滿容器 */
    /* height: 70%;  設置圖片高度佔滿容器 */
    object-fit: cover;  /* 使用object-fit屬性調整圖片大小 */
}

.grid{
  display:grid;
  gap:45px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media (max-width:1100px){                                 
  .grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));      
  }
}

@media (max-width:720px){
  .grid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width:440px){
  .grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width:220px){
  .grid{
    grid-template-columns: 1fr;
  }
}

.link-1{
  margin-top: 50px;
  display:block;
  text-decoration:none;
  /* color:inherit; */
  border-radius:18px; 
  background:rgb(244, 249, 248);
  padding:20px;
  /* box-shadow:var(--shadow); */
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform .18s ease, box-shadow .18s ease;
  /* min-height:180px; */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  /* outline: none;  */
  outline: 1px solid rgb(0, 255, 234);
}

.link-1:hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

.link-1:hover .title-1{
  text-decoration: underline;
  color:rgba(192, 21, 41, 0.852);
}

.link-1:active{
  transform: translateY(-2px) scale(.998);
}

.title-1{
  font-size:18px;
  font-weight:700;
  color: blue;
  /* color:rgba(192, 21, 41, 0.852); */
  margin:0 0 8px;
  padding-top: 10px;
}

footer {
  margin-top: 125px;
  padding: 15px;
  background: #333;
  color: white;
} 
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */